@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    display: none;
}

/* Firefox */
html {
    scrollbar-width: none;
}

/* IE, Edge(旧) */
body {
    -ms-overflow-style: none;
}