*.exe
*.mp4
database/database
client/backend/tsnet-state
# tsnet
server/tsnet-server-state/
**/tailscaled.state
**/tailscaled.log*

# sqlite
*.db-wal
*.db-shm

# Node.js
node_modules/
dist/
build/
*.log
